<div style="text-align: center">
  <video
    class="video"
    #liveVideo
    autoplay
    controls
    *ngIf="!(showPreview$ | async)"
  ></video>
  <video
    id="recorded-video"
    class="video"
    controls
    #recordedVideo
    *ngIf="showPreview$ | async"
  ></video>
  <br />
  <button
    class="margin-r-10"
    (click)="startVideoRecording()"
    [disabled]="isRecording"
  >
    Start Recording
  </button>
  <button *ngIf="showPreview$ | async"  (click)="takeSnapshot()">Capture Image</button>

  <div class="image-container">
    <canvas id="canvas" #canvas ></canvas>
    <div>
      <img #capturedImage id="photo" alt="User image" />
    </div>
  </div>
</div>


