<div style="text-align: center">
  <!-- <h1 style="margin-bottom: 30px" *ngIf="secondsLeft > 0">{{ secondsLeft }}</h1> -->
  <video
    class="video"
    #liveVideo
    autoplay
    controls
    *ngIf="!(showPreview | async)"
  ></video>
  <video
    class="video"
    style="width: 480px !important"
    controls
    #recordedVideo
    *ngIf="showPreview | async"
  ></video>
  <br />
  <button
    class="btn btn-success btn-lg"
    (click)="startVideoRecording()"
    [disabled]="isRecording"
  >
    Start Recording
  </button>
  <!-- <button
    class="btn btn-warning btn-lg"
    *ngIf="isRecording"
    (click)="stopVideoRecording()"
  >
    Stop Recording
  </button> -->
</div>

<div>
  <p>{{ apiResponse }}</p>
</div>
